@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font-family: 'Noto Sans Mono', monospace;

}
.body{
	width: 100%;
}

.banner{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #3475ca;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#mainbox{
	cursor: pointer;
	font-size: 40px;
	color: white;
	transition: 1s;
}
.q{
	font-size: 50px;
	color: white;
	font-weight: 700;
	
}

.sidemenu{
	position: relative;
	top: 0;
	left: 100px;
	height: 100%;
	width: 0px;
	background-color: transparent;
	
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow-x: hidden;
	transition: 1s;

}
.sidemenu ul li a{
	padding: 8px 8px 8px 64px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	display: block;

}
.sidemenu ul li{
	list-style: none;
}
.sidemenu .fa{
	position: absolute;
	top: 10px;
	left: 240px;
}
.main{
	position: absolute;
	left: 1400px;
	margin-top: -100px;
}
.banner .content{
	position: relative;
	max-width: 750px;
	text-align: center;
}
.banner img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.62;
	background-repeat: no-repeat;

}
.banner .content h2{
	color: #fff;
	font-size: 60px;

}
.banner .content p{
	color: #fff;
	font-size: 30px;
	margin-top: 10px;
}
.banner header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
.banner header .logo{
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;

}

.about{
	position: relative;
	width: 100%;
	display: flex;

}
.about .contentBx{
	background: #162c3b;
	padding: 100px;
	width: 50%;
}
.heading{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.text{
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
}
.about .imgBx{
	background: url(img/window.jpg);
	width: 50%;
	background-size: cover;
	background-position: center;
}
.services{
	background: #12222d;
	padding: 100px;
	text-align: center;

}
.services .container{
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	z-index: 2;
}
.services .container .serviceBx{
	position: relative;
	background: #fff;
	width: 350px;
	height: 400px;
	display: flex ;
	justify-content: center;
	align-items: center;
	margin: 5px;
	border-radius: 20%;

}
.services .container .serviceBx img{
	max-width: 150px;
}
.services .container .serviceBx h2{
	font-size: 20px;
	font-weight: 600;
}
.services .container .serviceBx .third-div{
	padding: 10px;
}
.services .container .serviceBx .third-img{
margin-top: 20px;
}
.technology{
	background: #3f8ffc;
	width: 100%;
	padding: 100px;
	padding-top: 300px;
	margin-top: -300px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.technology .contentBx{
	max-width: 800px;

}
.technology .imgBx img{
	max-width: 450px;
}
.client{
	background: #162c3b;
	padding: 100px;
	text-align: center;
}
.client .imgBx{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 40px;
}
.client .imgBx img{
	max-width: 200px;
	margin: 20px;
	opacity: 0.25;
	cursor: pointer;
	transition: 0.73s;
}
.client .imgBx img:hover{
	opacity: 1;	
	transition: 0.74s;
}
.testimonials{
	position: relative;
	padding: 100px;
	background: #12222d;
	text-align: center;
}
.testimonials .container{
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	

}
.testimonials .container .contentBx{
	background: #fff;
	padding: 60px 50px;
	width: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin: 10px;
	border-radius: 10%;
}
.testimonials .container .contentBx p{
	font-style: italic;
	padding: 10px;
}
.testimonials .container .contentBx h3{
	width: 100%;
	text-align: end;
	font-weight: 600;
	color: #3475ca;
}
.footer{
	width: 100%;
	background: #162c3b;
	padding: 20px 100px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.footer ul{
	display: flex;
	justify-content: center;
	align-items: center;

}
.footer ul li{
	text-decoration: none;
	list-style: none;
	
}
.footer ul li a{
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
}
.footer ul li a img{
	filter: invert(1);
	max-width: 20px;
}
@media (max-width: 991px)
{
	.mainbox{
		padding: 2% 6%;
		display: flex;
		justify-content: space-between;
		
	}
	.sidemenu{
		flex: 1;
		text-align: right;
		margin-right: 120px;

	}
	.q{
		display: none;
	}
	.banner header{
		padding: 20px 50px;
	}
	.banner .content h2{
		font-size: 30px;
	}
	.banner .content p{
		font-size: 16px;
	}
	.about{
		flex-direction: column;
	}
	.about .contentBx,.about .imgBx{
		width: 100%;
		padding: 50px;
		min-height: 400px;
		text-align: center;
	}
	.services{
		padding: 50px;

	}
	.services .container{
		justify-content: center;
		margin-top: 20px;

	}
	.services .container .serviceBx{
		margin: 20px;
		width: 300px;
		height: 350px;
	}
	.technology{
		padding: 50px;
		padding-top: 300px; 
		justify-content: center;
		flex-direction: column;
	}
	.technology .imgBx{
		margin-top: 40px;
		max-width: 250px;

	}
	.client{
		padding: 50px;	
	}
	.client .imgBx{
		justify-content: center;
	}
	.testimonials{
		padding: 50px;
	}
	.testimonials .contentBx{
		padding: 60px 40px;
		max-width: 550px;
		margin-bottom: 40px;
	}
	.testimonials .contentBx:last-child{
		margin-bottom: 0px;
	}
	.footer{
		padding: 20px 30px;
		flex-direction: column-reverse;
		text-align: center;

	}
	.footer ul{
		margin-bottom: 20px;

	}
}
@media (max-width: 620px){
	.sidemenu{
		margin-right: 12%;
	}
}
@media (max-width: 400px){
	.sidemenu{
		margin-right: 12%;
	}
}